body {
	padding-top: 70px;
	padding-bottom: 70px;
}

.bs-footer {
	text-align: center;	
}

.footer-links {
	margin: 10px 0;
	padding-left: 0;
}

.footer-links li {
	display: inline;
	padding: 0 2px;
}

.footer-links li:first-child {
	padding-left: 0;
}

.no-links {
	color: black;
}

a:hover,
a:focus {
	background-color: transparent;
	text-decoration: none;
}