<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li ng-if="path.version == null" class="active">{{path.name}}</li>
  <li ng-if="path.version != null"><a href="#history/{{path.name}}">{{path.name}}</a></li>
  <li ng-if="path.version != null" class="active">{{path.version}}</li>
</ol>

<div class="col-lg-12">
	<div class="panel panel-info">
		<div class="panel-heading">History</div>
		<table class="table">	
			<thead>
				<tr>
					<th>Version</th>
					<th>Run</th>
					<th>Date</th>
					<th>Finish</th>
					<th>Reference</th>
					<th>Show</th>
				</tr>
			</thead>
			<tbody ng-repeat="loadTest in loadTests">
				<tr>
					<td><a href="#history/{{loadTest.ltKey.name}}/{{loadTest.ltKey.version}}">{{loadTest.ltKey.version}}</a></td>
					<td>{{loadTest.ltKey.run}}</td>
					<td>{{loadTest.date}}</td>
					<td><span ng-if="loadTest.fn" class="label label-success glyphicon glyphicon-ok"> </span><span ng-if="!loadTest.fn" class="label label-danger glyphicon glyphicon-remove"> </span></td>
					<td><span ng-if="loadTest.ref" class="label label-success glyphicon glyphicon-ok"> </span><span ng-if="!loadTest.ref" class="label label-danger glyphicon glyphicon-remove"> </span></td>
					<td><a href="#load_test/{{loadTest.ltKey.name}}/{{loadTest.ltKey.version}}/{{loadTest.ltKey.run}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>