<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="loadTestName in loadTestsName">	
	<div class="panel panel-info">
		<!-- Default panel contents -->
		<div class="panel-heading"><a href="#history/{{loadTestName}}">{{loadTestName}}</a></div>

		<!-- Table -->
		<table class="table">	
			<thead>
				<tr>
					<th>#</th>
					<th>Version</th>
					<th>Run</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="loadTestsLast[loadTestName] != null">
					<td><a href="#load_test/{{loadTestName}}/{{loadTestsLast[loadTestName].ltKey.version}}/{{loadTestsLast[loadTestName].ltKey.run}}">Last Load Test</a></td>
					<td>{{loadTestsLast[loadTestName].ltKey.version}}</td>
					<td><span class="badge">#{{loadTestsLast[loadTestName].ltKey.run}}</span></td>
				</tr>
				<tr ng-if="loadTestsLast[loadTestName] == null">
					<td>Last Load Test</td>
					<td>N/A</td>
					<td><span class="badge">N/A</span></td>
				</tr>
				<tr ng-if="loadTestsLastRef[loadTestName] != null">
					<td><a href="#load_test/{{loadTestName}}/{{loadTestsLastRef[loadTestName].ltKey.version}}/{{loadTestsLastRef[loadTestName].ltKey.run}}">Last Reference</a></td>
					<td>{{loadTestsLastRef[loadTestName].ltKey.version}}</td>
					<td><span class="badge">#{{loadTestsLastRef[loadTestName].ltKey.run}}</span></td>
				</tr>
				<tr ng-if="loadTestsLastRef[loadTestName] == null">
					<td>Last Reference</td>
					<td>N/A</td>
					<td><span class="badge">N/A</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>