<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#history/{{path.name}}">{{path.name}}</a></li>
  <li><a href="#history/{{path.name}}/{{path.version}}">{{path.version}}</a></li>
  <li class="active">{{path.run}}</li>
</ol>

<div class="col-lg-12">
	<div class="panel panel-info">
		<div class="panel-heading">Actions</div>
		Aggregation interval : <select class="form-control" ng-model="interval" ng-options="c.name for c in intervals" ng-change="updateInterval(false)"></select><br>
		<button ng-if="!loadTest.ref" type="button" class="btn btn-danger" ng-click="updateReference(true)">Reference</button>
		<button ng-if="loadTest.ref" type="button" class="btn btn-success active" ng-click="updateReference(false)">Reference</button>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">Summary</div>
		<table class="table">	
			<thead>
				<tr>
					<th>Samplers</th>
					<th>Iterations</th>
					<th>Average Time (ms)</th>
					<th>Average Byte</th>
					<th>Success (%)</th>
				</tr>
			</thead>
			<tbody ng-repeat="sampler in samplers">
				<tr>
					<td><a href="#details/{{path.name}}/{{path.version}}/{{path.run}}?sampler={{sampler.label}}">{{sampler.label}}</a></td>
					<td>{{sampler.iterations}}</td>
					<td>{{sampler.avg_times.toFixed(2)}}</td>
					<td>{{sampler.avg_byt.toFixed(2)}}</td>
					<td>{{((sampler.success / sampler.iterations) * 100).toFixed(2)}}</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<th>{{global.label}}</th>
					<th>{{global.iterations}}</th>
					<th>{{global.avg_times.toFixed(2)}}</th>
					<th>{{global.avg_byt.toFixed(2)}}</th>
					<th>{{((global.success / global.iterations) * 100).toFixed(2)}}</th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">Threads Count</div>
		<div id="thread" style="height: 200px"></div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">Throughput (req/s)</div>
		<div id="throughput" style="height: 350px;"></div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">Http Code Distribution</div>
		<div id="httpcode" style="height: 350px;"></div>
	</div>
</div>